.jetmenu {
	width:auto;
	padding: 0;
	margin: 0;
	/*position: relative;*/
	/*float: left;*/
	list-style: none;
	background: #fff;
}
.jetmenu li {
	display: inline-block;
	float: left;
	padding:0 10px 0 10px;
}
.jetmenu li:last-child {
	padding:0 0 0 10px;
	/*anil_changes*/
	position:relative;
	/*anil_changes*/
}
/*anil_changes*/
/*.jetmenu li:last-child .dropdown {
		right: 0% !important;
}*/
/*anil_changes*/
.jetmenu a {
-o-transition: all .3s linear;
-webkit-transition: all .3s linear;
-moz-transition: all .3s linear;
transition: all .3s linear;
	outline: none;
	z-index: 10;
}
.jetmenu > li > a {
	padding: 10px 7px 6px 0px;
	font-family: 'Poppins', sans-serif;
	font-size: 12px !important;
	color: #333333;
	text-decoration: none;
	display: inline-block;
	text-transform:uppercase;
	font-weight:400;
	margin-left:1px;
	border-bottom:3px solid #fff;
	line-height:15px;
}
.jetmenu > li:hover > a, .jetmenu > li.active > a {
	background: #fff;
	color: #eb0600;
	border-bottom:3px solid #eb0600;
}
.jetmenu ul.dropdown, .jetmenu ul.dropdown li ul.dropdown {
	list-style: none;
	margin: 0;
	padding: 0;
	display: none;
	position: absolute;
	z-index: 99;
	width:180px;
	background: #fff;
	border: 1px solid #efefef;
}
.jetmenu ul.dropdown {
	top: 69px;
}
.jetmenu ul.dropdown li ul.dropdown {
	left: 181px;
	top: inherit;
}
.jetmenu ul.dropdown li {
	clear:both;
	width:100%;
	font-size: 12px !important;
	padding:0;
}
/*.jetmenu ul.dropdown li a{ max-width:160px; overflow:hidden;}*/
.jetmenu ul.dropdown li .indicator {
	font-size: 12px !important;
	top: 1px;
	left:0px;
}

.jetmenu ul.dropdown li a {
	width:100%;
	padding:10px 10px;
	display:inline-block;
	float:left;
	clear:both;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	color: #444;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	text-transform:capitalize;
}
.jetmenu ul.dropdown li:hover > a {
	background: #efefef;
	color: #ee0d0f;
}
.bggjgjjgjywrturuwehegqeq410020 a {
	display: block;
	position: relative;
}
.jetmenu .indicator {
	position: relative;
	left:7px;
	top:0px;
	font-size: 14px !important;
	float: right;
}
.jetmenu ul li .indicator {
	font-size: 12px;
	top: 1px;
	left: 10px;
}
.jetmenu > li > .megamenu {
	position: absolute;
	display: none;
	background: #fff;
	min-width: 25%;
	top:55px;
	font-size: 13px !important;
	color: #999;
	z-index: 99;
	padding:15px;
	border: 1px solid #efefef;
	border-bottom: 2px solid #efefef;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.jetmenu li > .megamenu ul {
	margin: 0 0 20px 0;
	float: left;
	padding: 0;
	display: block;
	position: relative;
}
.jetmenu li > .megamenu ul li {
	width: 100%;
	padding: 4px 0;
}
.jetmenu li > .megamenu ul li.title {
	margin: 10px 0 8px 0;
	padding: 0px 0 8px 0;
	border-bottom: solid 1px #efefef;
	color:#333;
	font-size:14px !important;
	text-transform:uppercase;
	font-weight:500;
}
.jetmenu li > .megamenu h5 {
	width: 100%;
	margin: 0;
	padding: 0;
	font-weight:500;
}
/* megamenu links */
.jetmenu li > .megamenu a {
	color: #444;
	text-decoration: none;
	font-size:12px !important;
	-webkit-transition: color 0.3s linear;
	-moz-transition: color 0.3s linear;
	-o-transition: color 0.3s linear;
	transition: color 0.3s linear;
}
.jetmenu li > .megamenu a:hover {
	color: #ee0d0f;
}
.jetmenu .megamenu img {
	width: 100%;
	-webkit-transition: border 0.3s linear;
	-moz-transition: border 0.3s linear;
	-o-transition: border 0.3s linear;
	transition: border 0.3s linear;
}
.jetmenu > li > .megamenu.half-width {
	width: 50%;
}
.jetmenu > li > .megamenu.full-width {
	width: 100%;
	left: 0;
	top:55px;
}
.jetmenu li > .megamenu form {
	width: 100%;
}
.overlay {
	background: url(images/overlay-bg.png) repeat;
	width: 150px;
	height: 120px;
	position: absolute;
	display: none;
	left: 0;
	top: 0;
}
.jetmenu li > .megamenu form input[type="text"], .jetmenu li > .megamenu form textarea {
	padding: 5px;
	color: #999;
	background: #444;
	font-family: 'Poppins', sans-serif;
	font-size: 14px !important;
	border: solid 1px transparent;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: border 0.3s linear;
	-moz-transition: border 0.3s linear;
	-o-transition: border 0.3s linear;
	transition: border 0.3s linear;
}
.jetmenu li > .megamenu form input[type="text"]:focus, .jetmenu li > .megamenu form textarea:focus {
	border-color: #e0e0e0;
}
.jetmenu li > .megamenu form input[type="text"] {
	width: 100%;
	margin-top: 10px;
}
.jetmenu li > .megamenu form textarea {
	width: 100%;
	margin-top: 10px;
}
.jetmenu li > .megamenu form input[type="submit"] {
	width: 25%;
	float: right;
	height: 30px;
	margin-top: 10px;
	border: none;
	cursor: pointer;
	background: #444;
	color: #777;
	font-family: 'Poppins', sans-serif;
	-webkit-transition: background 0.3s linear;
	-moz-transition: background 0.3s linear;
	-o-transition: background 0.3s linear;
	transition: background 0.3s linear;
}
.jetmenu li > .megamenu form input[type="submit"]:hover {
	background: #e0e0e0;
	color: #555;
}
.megamenu .my-row {
	width: 100%;
	margin-top: 15px;
}
.megamenu .my-row:first-child {
	margin-top: 0;
}
.megamenu .my-row:before, .megamenu .my-row:after {
	display: table;
	content: "";
	line-height: 0;
}
.megamenu .my-row:after {
	clear: both;
}
.megamenu .my-row .col1, .megamenu .my-row .col2, .megamenu .my-row .col3, .megamenu .my-row .col4, .megamenu .my-row .col5, .megamenu .my-row .col6 {
	display: block;
	width: 100%;
	min-height: 20px;
	float: left;
	margin-left: 2.127659574468085%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.megamenu .my-row [class*="col"]:first-child {
margin-left: 0;
}
.megamenu .my-row .col1 {
	width: 14.893617021276595%;
}
.megamenu .my-row .col2 {
	width: 31.914893617021278%;
}
.megamenu .my-row .col3 {
	width: 48.93617021276595%;
}
.megamenu .my-row .col4 {
	width: 65.95744680851064%;
}
.megamenu .my-row .col5 {
	width: 82.97872340425532%;
}
.megamenu .my-row .col6 {
	width: 100%;
}

.jetmenu > li.right {
	float: right;
}
.jetmenu > li.right > .megamenu {
	right: 0;
}

.jetmenu > li.showhide {
	display: none;
	width: 100%;
	height: 50px;
	cursor: pointer;
	color: #999;
	background: #fff;
	border-bottom: 1px solid #efefef;
}
.jetmenu > li.showhide span.title {
	margin: 15px 0 0 25px;
	font-family: 'Poppins', sans-serif;
	float: left;
	display:none;
}
.jetmenu > li.showhide span.icon {
	padding: 15px 20px;
	float: right;
	border-left: 1px solid #efefef;
}
.jetmenu > li.showhide .icon em {
	margin-bottom: 3px;
	display: block;
	width: 20px;
	height: 2px;
	background: #999;
}

.post-entry {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #EEE;
}

.blue > li:hover > a, .blue > li.active > a {
	background: #02b8fa;
	color: #fff;
}
.blue ul.dropdown li:hover > a {
	background: #02b8fa;
	color: #fff;
}
.blue li > .megamenu form input[type="text"]:focus, .blue li > .megamenu form textarea:focus {
	border-color: #02b8fa;
}
.blue li > .megamenu form input[type="submit"]:hover {
	background: #02b8fa;
	color: #fff;
}
.blue li > .megamenu a:hover {
	color: #02b8fa;
}

@media (max-width: 768px) {
.jetmenu > li {
display: block;
width: 100%;
box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
padding:0;
}
.jetmenu li:last-child {
    padding:0px;
}
.jetmenu > li > a {
padding: 13px 20px 13px 15px;
border-bottom:1px solid #efefef;
margin-left:0;
}
.jetmenu > li:hover > a, .jetmenu > li.active > a{border-bottom:1px solid #ee0d0f; background-color:#ee0d0f; color:#fff;}
.jetmenu a {
width: 100%;
background:#fff;
box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
}
.jetmenu ul.dropdown, .jetmenu ul.dropdown li ul.dropdown {
width: 100% !important;
left: 0;
position: static !important;
border: none;
box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
	max-height:130px;
	overflow:auto;
}
.jetmenu ul.dropdown li {
background: #fff !important;
border: none;
}
.jetmenu ul.dropdown > li > a {
padding-left: 40px !important;
}
.jetmenu > li > .megamenu {
width: 100% !important;
position: static;
border-top: none;
}
.megamenu .my-row [class*="col"] {
float: none;
display: block;
width: 100% !important;
margin-left: 0;
margin-top: 15px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.megamenu .my-row:first-child [class*="col"]:first-child {
margin-top: 0;
}
.megamenu .my-row {
margin-top: 0;
}
.jetmenu > li > ul.dropdown > li > a {
padding-left:15px !important;
}
.jetmenu > li > ul.dropdown > li > ul.dropdown > li > a {
padding-left: 20px !important;
}
.jetmenu > li > ul.dropdown > li > ul.dropdown > li > ul.dropdown > li > a {
padding-left: 25px !important;
}
}

.content {
	margin: 50px 50px;
	padding:0px;
	font-family: 'Poppins', sans-serif;
	position:relative;
}
.content ul.items {
	font-size: 14px !important;
	margin: 0;
	list-style-type:square
}
.content ul.items li {
	padding: 4px 0;
}
.content p {
	font-size: 13px !important;
}
.jetmenu {
	margin: 0 0 0 0px;
	float:left;
}
.jetmenu > li .megamenu .my-row .colored {
	background: #999 !important;
}
@media (max-width: 768px) {
body, .content {
margin: 0;
padding: 0;
}
}
