/* ------------------------------------------------------------
************** Navigation Icons CSS  **************************
------------------------------------------------------------ */
.jetmenu [class^="menuicon-"] {
	width: 30px;
    height: 30px;
    display:block;
    margin:0 auto 5px auto;
    position: relative;
    top: 0px;
}
[class^="menuicon-"],
.sprite {
  background-image: url("../images/sprite.png");
  background-repeat: no-repeat;
}

.menuicon-dashboard {
    background: url('../images/css_sprites.png') -110px -10px;
}
.menuicon-add-new-reviewer {
    background: url('../images/css_sprites.png') -10px -10px;
}

.menuicon-admin {
    background: url('../images/css_sprites.png') -60px -10px;
}

.menuicon-administrative {
    background: url('../images/css_sprites.png') -10px -60px;
}

.menuicon-communication {
    background: url('../images/css_sprites.png') -60px -60px;
}

.menuicon-manage-article {
    background: url('../images/css_sprites.png') -110px -60px;
}

.menuicon-not-availablity {
    background: url('../images/css_sprites.png') -10px -110px;
}

.menuicon-proxy-submission {
    background: url('../images/css_sprites.png') -60px -110px;
}

.menuicon-submit-manuscript {
    background: url('../images/css_sprites.png') -110px -110px;
}

.menuicon-track-manuscript {
    background: url('../images/css_sprites.png') -160px -10px;
}

.menuicon-save-artical {
    background: url('../images/css_sprites.png') -160px -60px;
}
.menuicon-uplode {
    background: url('../images/css_sprites.png') -160px -110px;
}
.menuicon-pdf {
    background: url('../images/css_sprites.png') -210px -10px;
}
.menuicon-reports {
    background: url('../images/css_sprites.png') -210px -60px;
}






.alert span {
	width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
	margin-right: 8px;
	position: relative;
	top: -1px;
}

.icon-alert {
	background-position: -142px -293px;
}

.icon-success {
	background-position: 0 -419px;
}



/* ------------------------------------------------------------
************** Other Icons CSS  **************************
------------------------------------------------------------ */
.icon-headPhone {
	width: 21px;
	height: 22px;
	background-position: -137px -161px;
	top: 4px;
}

.icon-mail {
	width: 19px;
	height: 14px;
	background-position: -139px -186px;
	top: 2px;
}


.icon-user {
	width: 16px;
	height: 19px;
	display: block;
	background-position: -142px -201px;
}

.icon-mail-grey {
	width: 20px;
	height: 14px;
	display: block;
	background-position: -20px -420px;
}

.icon-password {
	width: 15px;
	height: 19px;
	display: block;
	background-position: -144px -221px;
}

.icon-dot {
	width: 30px;
	height: 30px;
	background-position: -138px -320px;
	display: block;
}

.icon-refresh {
	background-position: -122px -422px;
}

.icon-search {
	background-position: -123px -463px;
}
.icon-search-new {
	background-position: 0 -65px;
	height:26px !important;
}

.icon-close {
	width: 16px;
	height: 15px;
	background-position: -43px -419px;
	background-color: transparent;
	text-indent: -9999px;
	position: absolute;
	right: 15px;
	cursor: pointer;
	display: block;
}

@media screen and (max-width: 767px) { 
	.icon-close {
		right: 15px;
	}
}



