/* -------------------------------------
************** helper CSS **************
--------------------------------------*/
body {
    font-family: 'Montserrat','Roboto', Arial, sans-serif;
    font-size: 13px;
    line-height: 1.42857143;
    color: #000;
    font-weight: 400;
	background: #f8f8f8;
	width:100%;
}

html {
  overflow-x: hidden;
}

p {
  margin-bottom: 10px;
}

a {
  color: #3c9cfd;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  color: #3c9cfd;
}

a:not([href]):not([tabindex]) {
  color: #fff;
}

a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
  color: #fff;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:400;
}

textarea.form-control {
    height: auto !important;
    -webkit-appearance: none;
}
label {display: inline-block; margin-bottom: 0.3rem;}
label sup{ font-size:15px; top: -.1em; color:#ed1c24;}
.form-group {
    margin-bottom: 0.7rem;
}
.form-control {
	font-size: 13px;
	height: 100%;
	border-radius: 5px;
	box-shadow: none;
	border: 1px solid #e0dfdf;
	transition-duration: .5s;
	padding: 6px 10px 6px 10px;
	height: 43px;
	color: #000;
}
.form-control:focus {
	color: #000;
	border-color: #4A90E2;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.0), 0 0 8px rgba(102, 175, 233, .0);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.0), 0 0 8px rgba(102, 175, 233, .0);
}


p {
  margin: 0 0 10px 0;
}


.box-shadow {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.07);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.07);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.07);
}
.right-shadow {
	-webkit-box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.03);
	-moz-box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.03);
	box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.03);
}
.line-height{ line-height:24px;}
/*text-size*/
.text-11 {
    font-size: 11px !important;
}
.text-12 {
    font-size: 12px !important;
}
.text-13 {
    font-size: 13px !important;
}
.text-14 {
    font-size: 14px !important;
}
.text-16 {
    font-size: 16px !important;
}
.text-18 {
    font-size: 18px !important;
}
.text-18{font-size:18px !important;}
.text-20{font-size:20px !important;}
.text-22{font-size:22px !important;}
.text-24{font-size:24px !important;}
.text-26{font-size:26px !important;}
.text-28{font-size:28px !important;}
.text-30{font-size:30px !important;}

/*text-size-end*/

.icon-box{font-size:18px !important;}
.icon-box a{padding:2px;}
.circle{ border-radius:50%;}
.or-circle{ border-radius:50%; text-align:center; font-weight:700; font-size:16px; text-transform:uppercase; border:2px solid #e0dfdf; display:inline-block; padding:15px;}
.mt-8{margin-top:6rem;}

/*text-color*/
.text-orange{color:#fd570a !important;}
.text-blue{color:#1b8ce2 !important;}
.text-dark-green{color:#0f7e7d !important;}
.text-red {color: #ed1c24 !important;}
.text-green {color: #01b33d !important;}
.text-black {color: #000 !important;}
/*text-color*/

/*radius*/
.radius-5{ border-radius:5px !important;}
/*radius-end*/
.lable{ padding:3px 7px; border-radius:3px;}

/* Background colors */
.bg-gray, .bg-red, .bg-green, .bg-orange, .bg-blue, .bg-dark-green {
	color: #fff;
}

.bg-gray{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#41b120+0,99cb02+100 */
background: #ccc; /* Old browsers */
background: -moz-linear-gradient(to right top, #ccc 0%, #e4e4e4 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(to right top, #ccc 0%,#e4e4e4 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right top, #ccc 0%,#e4e4e4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccc', endColorstr='#e4e4e4',GradientType=1 ); /* IE6-9 */	
}

.bg-red {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#41b120+0,99cb02+100 */
background: #ed1c24; /* Old browsers */
background: -moz-linear-gradient(to right top, #ed1c24 0%, #f4040d 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(to right top, #ed1c24 0%,#f4040d 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right top, #ed1c24 0%,#f4040d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed1c24', endColorstr='#f4040d',GradientType=1 ); /* IE6-9 */	
}
.bg-green {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#41b120+0,99cb02+100 */
background: #09c83a; /* Old browsers */
background: -moz-linear-gradient(to right top, #09c83a 0%, #02e23b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(to right top, #09c83a 0%,#02e23b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right top, #09c83a 0%,#02e23b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#09c83a', endColorstr='#02e23b',GradientType=1 ); /* IE6-9 */	
}
.bg-orange{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#41b120+0,99cb02+100 */
background: #ec7908; /* Old browsers */
background: -moz-linear-gradient(to right top, #ec7908 0%, #ff7e00 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(to right top, #ec7908 0%,#ff7e00 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right top, #ec7908 0%,#ff7e00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec7908', endColorstr='#ff7e00',GradientType=1 ); /* IE6-9 */		
}
.bg-blue {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#41b120+0,99cb02+100 */
background: #1b8ce2; /* Old browsers */
background: -moz-linear-gradient(to right top, #1b8ce2 0%, #6cbffd 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(to right top, #1b8ce2 0%,#6cbffd 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right top, #1b8ce2 0%,#6cbffd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b8ce2', endColorstr='#6cbffd',GradientType=1 ); /* IE6-9 */	
}
.bg-dark-green {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#41b120+0,99cb02+100 */
background: #0f7e7d; /* Old browsers */
background: -moz-linear-gradient(to right top, #0f7e7d 0%, #14bab8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(to right top, #0f7e7d 0%,#14bab8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right top, #0f7e7d 0%,#14bab8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f7e7d', endColorstr='#14bab8',GradientType=1 ); /* IE6-9 */	
}
/* Background colors End */

/*text-color*/

/*btn_css*/
.btn_box{ margin:15px 0; padding:15px 0 0 0; position:relative; border-top:1px solid #e5e5e5; width: 100%;}
.btn_box a{ color:#ed1c24; text-decoration:underline;}
.btn-primary {
	color: #fff !important;
	font-weight: 500;
	font-size: 14px;
	cursor: pointer;
	text-transform: uppercase;
	margin:0;
	padding:10px 20px 10px 20px;
	background-color:#ed1c24;
	border:#ed1c24 1px solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none !important;
	transition: border 0.2s linear 0s, background-color 0.2s ease-in-out 0s;
}
.btn-primary i {
	font-size: 22px;
	margin: 0 0 0 10px;
}
.btn-primary:hover {
	color: #fff !important;
	background-color: #a1080d;
	border: #a1080d 1px solid;
	text-decoration: none;
}

.btn-gray {
	color: #fff !important;
	font-weight: 500;
	font-size: 14px;
	font-style: normal;
	cursor: pointer;
	text-transform: uppercase;
	margin:0;
	padding:10px 20px 10px 20px;
	background-color: #cbcbcb;
	border: #cbcbcb 1px solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none !important;
	transition: border 0.2s linear 0s, background-color 0.2s ease-in-out 0s;
}
.btn-gray i {
	font-size: 22px;
	margin: 0 0 0 10px;
}
.btn-gray:hover {
	color: #fff !important;
	background-color: #000;
	border: #000 1px solid;
	text-decoration: none;
}



.btn-dark {
    color: #fff;
    background-color: #000;
    border:1px solid #000;
    border-radius: 5px;
    padding:10px 20px 10px 20px;
	font-size:14px;
    font-weight:500;
	margin:0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none !important;
	text-transform:uppercase;
	transition: border 0.2s linear 0s, background-color 0.2s ease-in-out 0s;
}
.btn-dark:hover{background-color:#555; border-color: #555;}

.btn-border {
    color: #000;
    background-color: #fff;
    border-color:#ddd;
    border-radius: 5px;
    padding:10px 20px 10px 20px;
	font-size:14px;
    font-weight:500;
	margin:0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none !important;
	text-transform:uppercase;
	transition: border 0.2s linear 0s, background-color 0.2s ease-in-out 0s;
}
.btn-border:hover{background-color:#000; border-color: #000; color: #fff;}
.btn-blue {
	color: #fff !important;
	font-weight: 500;
	font-size: 14px;
	cursor: pointer;
	text-transform: uppercase;
	margin:0;
	padding:10px 20px 10px 20px;
	background-color:#2892e4;
	border:#2892e4 1px solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none !important;
	transition: border 0.2s linear 0s, background-color 0.2s ease-in-out 0s;
}
.btn-blue:hover {
	color: #fff !important;
	background-color: #0765ad;
	border: #0765ad 1px solid;
	text-decoration: none;
}
.add-new {
    color: #ed1c24;
    background-color: #fff;
    border:1px solid #ed1c24;
    border-radius: 5px;
    padding: 5px 10px;
	font-size:12px;
    font-weight:500;
	margin:0;
	line-height:16px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none !important;
	text-transform:uppercase;
	transition: border 0.2s linear 0s, background-color 0.2s ease-in-out 0s;
}
.add-new:hover{background-color:#000; border-color: #000; color: #fff;}
.add-new i{ margin-right:3px; font-size:14px;}
.radius-0{ border-radius:0px !important;}
.btn-small {
    border-radius: 5px;
    padding: 7px 10px;
	font-size:11px;
    font-weight:500;
	margin:0;
	line-height:14px;
}


.btn-modify {
    color: #fff;
    background-color: #000;
    border:1px solid #000;
    border-radius: 5px;
    padding: 5px 10px;
	font-size:12px;
    font-weight:500;
	line-height:16px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none !important;
	text-transform:uppercase;
	transition: border 0.2s linear 0s, background-color 0.2s ease-in-out 0s;
	position:absolute;
	right:45px;
	top:8px;
	z-index:1;
}
.btn-modify:hover{background-color:#ddd; border-color:#ddd; color: #000;}
.btn-modify i{ margin-right:3px; font-size:14px;}




/*btn_css*/


.uplode_file{border: 1px solid #e0dfdf; padding:9px; border-radius: 0.25rem; background-color:#FFF;}

/*ScrollBar*/
.mCS-dark.mCSB_scrollTools .mCSB_draggerRail{ background-color: #000; background-color: rgba(0,0,0,0.15); }

.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ background-color: #000; background-color: rgba(237,28,36,0.98); }

.mCS-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{ background-color: rgba(237,28,36,0.95); }

.mCS-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{ background-color: rgba(237,28,36,0.95); }
/*ScrollBar*/


/*topband*/
.top-panel {
	width: 100%;
	height: 69px;
	z-index: 1;
	/*position: relative;*/
	background:#fff;
	box-shadow: 0px 4px 8px rgba(0,0,0,.03);
}

.top-panel .navbar-header{ width:18%; background:url(../images/logo_bg.png) top right no-repeat;}
.top-panel .menu_outer{ width:69%; margin:0; padding:0 0 0 10px; position:relative; height:69px;}

.logo {
	width:auto;
	height: 69px;
	display: inline-block;
	background-position: 0 0;
	padding:12px;
}


/*.login-wrap {
	width: 20%;
}*/

.user {
	display: inline-flex;
	padding: 15px 0 14px 0;
	border: 0 none;
	background-color: #fff;
	margin-top: 0px;
	color: #c1c1c1;
}

.user img {
	width: 40px;
	height: 40px;
	display: inline-block;
	border-radius: 50%;
	border: 1px solid #f0f0f1;
}
.user .user_name {
    display: block;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 12px;
    padding: 7px 0 0 7px;
    width:110px;
	text-align:left;

}
.user .user_name p {
	display: block;
	font-size:11px;
	font-weight:400;
	text-transform:uppercase;
	color:#d61a0f;
	margin:0;
	padding:0;
}

.user-wrap {
	position:relative;
	top: auto;
	right: auto;
	z-index: 1;
	float: left;
}
.user-wrap button{ cursor:pointer;}

.user-wrap .dropdown-menu {
	border:1px solid #efefef;
	min-width: 160px;
	border-bottom: 3px solid #eb0600;
	border-radius: 0;
	padding: 0;
	margin-top:0px;
}

.dropdown-menu > li > a {
	padding: 10px 15px;
	border-bottom: 1px solid #f9f9f9;
	position: relative;
	display:block;
    clear: both;
    font-weight:300;
    line-height: 1.42857143;
    color: #000;
    white-space: nowrap;
}


.dropdown-menu > li > a:hover {
	background-color: #fbfbfb;
}
.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.4em solid;
  border-right: 0.4em solid transparent;
  border-bottom: 0;
  border-left: 0.4em solid transparent;
  margin: 15px 0 0 0;
}


.dark-gray-bg {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#41b120+0,99cb02+100 */
background: #231f20; /* Old browsers */
background: -moz-linear-gradient(left, #231f20 0%, #6e6c6d 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #231f20 0%,#6e6c6d 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #231f20 0%,#6e6c6d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#231f20', endColorstr='#6e6c6d',GradientType=1 ); /* IE6-9 */
}


/*search_box*/

.search_bar{position:relative !important; padding:0 70px 0 0; /*float:left; width:94%;*/}
.sb-search {
	position: absolute;
	right:0;
	top:0;
	margin-top:0px;
	margin-right:10px;
	width: 0%;
	min-width:55px;
	height:69px;
	float: right;
	overflow: hidden;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
	-webkit-backface-visibility: hidden;
	border-right:1px solid #efefef;
	border-left:1px solid #efefef;
}

.sb-icon-search {
	width: 55px;
	height: 69px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 69px;
	text-align: center;
	cursor: pointer;
}
.sb-icon-search:hover{ background-color:#fbfbfb;}

.sb-icon-search {
	color: #fff;
	background: #fff;
	z-index: 90;
	font-size: 22px;
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

#search_modal .modal-content, #location_modal .modal-content{ background:transparent; box-shadow:none; border:none;}
#search_modal .modal-body{ margin-top:10%;}
#search_modal .form-control {
	font-size:20px;
	font-weight:300;
	height: 100%;
	border-radius:0px;
	box-shadow: none;
	border:none;
	border-bottom:1px solid #373636;
	background:none;
	transition-duration: .5s;
	padding:0 15px 15px 15px;
	height:auto;
	color:#fff;
}
#search_modal .form-control:focus{
	border-color: #373636;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.0), 0 0 8px rgba(102, 175, 233, .0);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.0), 0 0 8px rgba(102, 175, 233, .0);
}

#search_modal .close {
	margin-top:0px;
	position: absolute;
	right:15px;
	color: #fff;
	text-shadow:none;
	filter: alpha(opacity=90 !important);
	opacity: .9 !important;
	background:none;
	width:auto;
	height:auto;
	top:20px;
	width:20px;
	padding: 0 0 0px 0;
	z-index:9;
}
#search_modal .close:hover,
#search_modal .close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=100) !important;
  opacity: 1!important;
}

.modal-content{ border-radius:0px;}
.modal-backdrop.show {
  filter: alpha(opacity=100);
  opacity: .9 !important;
}

.modal-open {
    overflow: hidden !important;
    position: fixed;

}

.modal-xl {
    max-width: 1140px;
}
/*search_box*/

/*topband*/

.user-box{ font-size:14px; color:#ccc; margin-left:20px;}
.user-icon{ font-size:22px; color:#ed1c24;}
.user-box .dropdown-toggle::after{  color:#ccc;}
.dropdown-menu{ border-radius:0; padding:0;}
.dropdown-item{padding: 0.5rem 0.7rem; border-bottom:1px solid #efefef;}

/*main_part_outer*/
.main_part_outer{ margin:20px 0 0px 0; padding:0; position:relative; min-height:530px;}
.main_tittle {
    margin: 0 0 20px 0;
    padding: 0;
    font-size:20px;
    color: #333;
    font-weight:400;
    text-transform: capitalize;
}
.main_box{ padding:20px 30px; margin:0 0 20px 0; border:1px solid #e9ecef;}
.min-h450{ min-height:450px !important;}
.min-h380{ min-height:380px !important;}
.min-h120{ min-height:120px !important;}
.min-h270{ min-height:270px !important;}

#Date{ font-size:11px; padding:2px 8px; margin:-5px 0 0 0; background-color:#fff; border:1px solid #ccc; border-radius:30px; font-weight:400;  font-family: 'Roboto', sans-serif;}

/*main_part_outer*/

select {
  width: 100% !important;
  height: 43px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("../images/drop-arrow.png") !important;
  background-color: #fff;
  background-position: 100% center;
  background-repeat: no-repeat;
  border: 1px solid #ededed;
  color: #666;
  font-size: 13px !important;
  outline: 0;
  padding: 6px 20px 6px 6px !important;
  text-align: left;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  border-radius: 5px;
}

select option {
  padding: 6px;
}

.min-h-auto{ min-height:auto !important;}

.text-small{ font-size:12px !important;}
.delete {
    text-decoration: underline;
}


/*
    Component: Small boxes
*/
.small-box {
	position: relative;
	display: block;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	margin-bottom:30px;
	padding:0px;
	background:#fff;
}

.small-box>.inner {
	padding:15px;
	/*border-bottom:1px solid rgba(0, 0, 0, 0.1);*/
	border:1px solid #ebebeb;
	border-bottom:none;
	border-radius:7px 7px 0 0 ;
	min-height:120px;
}

.small-box>.small-box-footer {
	position: relative;
	text-align: center;
	font-size:14px;
	font-weight:500;
	text-transform:uppercase;
	padding:10px;
	color: #fff;
	display: block;
	/*background: rgba(0, 0, 0, 0.1);*/
	text-decoration: none;
	border-top:none;
	border-radius:0 0 7px 7px;
}

.small-box>.small-box-footer:hover {
	color: #fff;
	/*background: rgba(0, 0, 0, 0.15);*/
}
.small-box>.small-box-footer a{ color: #fff;}

.small-box h3 {
	font-size:50px;
	font-weight:300;
	margin:0;
	white-space: nowrap;
	padding: 0;
	line-height:80px;
	font-family:'Roboto', 'Montserrat', Arial, sans-serif;
}

.small-box p {
	font-size:18px;
	font-weight:400;
	margin:0 0 5px 0;
}

.small-box p>small {
	display: block;
	color: #f9f9f9;
	font-size: 13px;
	margin-top: 5px;
}

.small-box h3, .small-box p {
	z-index: 5px;
}

.small-box .icon {
	position: absolute;
	right:15px;
	z-index: 0;
	font-size: 50px;
	color: rgba(0, 0, 0, 0.1);
	top:15px;
	-webkit-transition: all 0.3s linear;
	  -o-transition: all 0.3s linear;
	  transition: all 0.3s linear;
}

.small-box:hover {
	text-decoration: none;
	color: #666;
}

.small-box:hover .icon {
	font-size:60px;
}

/*Table CSS Start*/
/*.table thead th {
    vertical-align: bottom;
    border-bottom: 0;
    font-size: 14px;
    color: #9b9b9b;
    font-weight: normal;
	padding:5px;
}*/
.table_div{ border:1px solid #ccc;}
.table-bordered th, .table-bordered td{ border-color:#efefef;}

.table th, .table td{padding:9px; font-family: 'Roboto','Poppins', Arial, sans-serif;}
.table thead th {
	background-color: #919090;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	line-height:20px;
	border-bottom:0 !important;
	font-weight:600;
	padding:10px 9px;
	letter-spacing:0px;
}

.table td {
    vertical-align: middle;
    border-top:1px solid #eee;
    font-weight:400;
    font-size: 11px;
    color: #333; 
	line-height:14px;
	padding:8px 9px;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fff;
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: #f9f9f9;
}
.table select{ height:35px !important;}
.table .custom-control{ display:inline-flex;}

/*Table CSS End*/

/*Data_table*/
/*.dataTables_wrapper select{ width:auto!important; height:36px !important;}*/
/*Data_table*/

/*pagination*/
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
 	border: 1px solid #e1e1e1;
	display: inline-block;
	margin-right: 5px;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px 3px 12px;
  line-height:20px;
  text-decoration: none;
  color: #666;
  background-color: #ffffff;
  border: 0;
  margin-left: 0px;
}



.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {

}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #fff;
  background-color: #038be1;
  border-color: #038be1;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #cdcdcd;
  background-color: #fcfcfc;
  border-color: #f0f0f0;
  cursor: default;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #cdcdcd;
  background-color: #fcfcfc;
  border-color: #f0f0f0;;
  cursor: not-allowed;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
/*pagination*/

/*custom-checkbox*/
.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0px #fff, 0 0 0 0rem rgba(0, 123, 255, 0.25);
}
.custom-control-label {
    cursor: pointer;
	line-height: -moz-block-height;
}
.custom-control-label::before {
  background-color: #fff;
  border:1px solid #dee2e6;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #007bff;
  border:1px solid #007bff;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #007bff;
  border:1px solid #007bff;
}

/*custom-checkbox*/


/*content_box*/
.content_box {
  position: relative;
  border-radius:0px;
  background: #ffffff;
  border: 1px solid #dddddd;
  margin-bottom:30px;
  width: 100%;
  min-height:50px;
}
.content_box .box-header {
  display: block;
  padding: 7px 15px;
  line-height:30px;
  position: relative;
   border-bottom: 1px solid #ddd;
}
.content_box .box-header .box-title {
    display: inline-block;
    font-size:18px;
	font-weight:400;
    margin: 0;
}
.content_box .table th{border-top:none;}
.content_box .box-body {
  padding:20px;
}
.content_box .box-footer {
  border-top: 1px solid #ddd;
  padding: 10px;
  background-color: #ffffff;
  border-radius:0px;
}
/*content_box_End*/

/*footer CSS*/
.footer {
	padding:15px 0;
	margin:0;
	position: relative;
	font-size:12px;
	background:#fff;
	border-top:1px solid #e9e9e9;
}
/*footer CSS*/

/*ManageJournals*/
.ManageJournals{margin:0; padding:0px; position:relative; min-height:400px;}
.ManageJournals h2{margin:0 0 20px 0; padding:0px; font-size:30px; font-weight:700; text-align:center;}
.ManageJournals sup {top: -.3em; color:#ed1c24;}

/*.custom-control-label::before{top:0.1rem;}
.custom-control-label::after{top: 0.1rem;}*/

/*ManageJournalsEnd*/

/*start_submission*/

.start_submission{ margin:0; padding:70px 30px; position:relative; background:url(../images/book_icon.png) no-repeat center center; min-height:400px; text-align:center;}
.start_submission label{ font-size:50px; font-weight:700; margin:0 0 15px 0;}
.start_submission label sup {font-size:50px; top: -.3em; color:#ed1c24;}
.start_submission select{ border:2px solid #e9e9e9; padding:0px 30px 0px 15px !important;}

.step-bar {
  margin:20px auto;
  padding: 0;
  counter-reset: step;
  width:80%;
}
.step-bar li {
  list-style-type: none;
  width:20%;
  float: left;
  font-size: 11px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #7d7d7d;
}
.step-bar li span{ display:block;}
.step-bar li:before {
  width: 34px;
  height: 34px;
  content: counter(step);
  counter-increment: step;
  line-height: 32px;
  border: 2px solid #d7d7d7;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius:0%;
  background-color: white;
}
.step-bar li:after {
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  background-color: #d7d7d7;
  top: 15px;
  left: -50%;
  z-index: -1;
}
.step-bar li:first-child:after {
  content: none;
}
.step-bar li.active {
  color:#01b33d;
}
.step-bar li.active:before {
  border-color: #01b33d;
  background-color: #01b33d;
  color:#fff;
}
.step-bar li.active + li:after {
  background-color: #01b33d;
}

.common_form{ margin:0; position:relative; padding:0;}
.common_form .form-group label{ width:100%;}
.required-text{ font-size:11px; font-weight:400; color:#ed1c24;}
.gray_background{background:#ededed;}
.light-gray-bg {
    background: #f8f9fa !important;
}


.sub_tittle {
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    font-size:16px;
    color: #000;
    font-weight:400;
    text-transform: capitalize;
	border-bottom: 1px solid #ddd;
}
.sub_tittle p {margin:0; padding:0; font-size:12px;}



.ListWithBorder{ margin:0; padding:0; list-style:none;}
.ListWithBorder li{ margin:0 0 5px 0; padding:5px 5px 5px 10px; list-style:none; font-size:12px; font-weight:400; background-color:#FFF; border:1px solid #dfdfdf; border-radius:5px;}
.ListWithBorder li span{ color:#d61a0f;}



/* BOX CSS Satrts here  */
.font-weight-medium {
    font-weight: 500 !important;
}

.white-box {
    border: 1px solid #e9e9e8;
    position: relative;
    margin: 15px 0;
	background-color:#fff;
    /*height: 140px;*/
}

.white-box a {
    display: block;
    color: #000;
}

.white-box a p {
    color: #333;
}
.Select_Multiple_Keywords{ height:220px !important; background-image:none !important; padding:0px !important; border-radius:0px; border:none;}
.multi-select-box select option{padding:8px 12px!important;}


.modal-title{font-weight:300; font-size:24px; line-height:24px;}
.modal-header .close{font-weight:200; font-size:40px; padding:5px 15px 0 0; outline:none;}

/*my_accordion*/
.my_accordion{ margin:0; padding:0; position:relative;}
.my_accordion .card{border-radius: 0; margin-bottom:10px;}
.my_accordion .card .card-header{ background:none; padding:0; border:none; position:relative;}
.my_accordion .card .card-header h5{ margin:0; padding:0; font-weight:400; font-size:16px; color:#000; line-height:45px;}
.my_accordion .card .card-body{ background:#f9fafb; border-top:1px solid rgba(0, 0, 0, 0.125); padding:15px;}
.my_accordion .card .card-header .mb-0 > a {
  display: block;
  position: relative;
  color:#000;
  padding:0 15px;
}
.my_accordion .card .card-header .mb-0 > a:after {
  content: "\f055"; /* fa-chevron-down */
  font-family: 'FontAwesome';
  position: absolute;
  top:7px;
  right: 10px;
  font-size:16px;
  line-height:16px;
  border:1px solid #ed1c24;
  padding:5px 6px;
  border-radius:5px;
   color:#ed1c24;
}
.my_accordion .card .card-header .mb-0 > a[aria-expanded="true"]:after {
  content: "\f056"; /* fa-chevron-up */
  
}
/*my_accordio_end*/

/*editor_accordion*/
.editor_accordion{ margin:0; padding:0; position:relative;}
.editor_accordion .card{border-radius: 0; margin-bottom:10px;}
.editor_accordion .card .card-header{padding:0; border:none; position:relative;
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(247,247,247,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */

}
.editor_accordion .card .card-header h5{ margin:0; padding:0; font-weight:400; font-size:13px; color:#000; line-height:36px; text-transform:uppercase;}
.editor_accordion .card .card-body{ background:#fff; border-top:1px solid rgba(0, 0, 0, 0.125); padding:15px;}
.editor_accordion .card .card-header .mb-0 > a {
  display: block;
  position: relative;
  color:#000;
  padding:0 0px;
}
.editor_accordion .card .card-header .mb-0 > a:after {
  content: "\f055"; /* fa-chevron-down */
  font-family: 'FontAwesome';
  position: absolute;
  top:10px;
  right: 10px;
  font-size:16px;
  line-height:16px;
  border:none;
  padding:0px;
  border-radius:0px;
   color:#ed1c24;
}
.editor_accordion .card .card-header .mb-0 > a[aria-expanded="true"]:after {
  content: "\f056"; /* fa-chevron-up */
  
}

.editor_accordion .card .card-header .mb-0 > a > span { position:relative; display:inline-block; border-right:1px solid #ddd; padding:0 13px; margin:0 8px 0 0;}
.editor_accordion .card .card-header .mb-0 > a > p{ display:inline-block; padding:0; margin:0;} 

/*editor_accordion_end*/

/*my-list-style*/
.my-list-style { padding:0; position:relative; margin:0;}
.my-list-style li{ padding:0 0 0 15px; position:relative; margin:0; list-style:none; line-height:24px;}
.my-list-style li:after {
  content: "\f105"; /* fa-chevron-down */
  font-family: 'FontAwesome';
  position: absolute;
  top:4px;
  left:0px;
  font-size:14px;
  line-height:16px;
  color:#ed1c24;
}
.my-list-style li a{ display:block; margin:0; color:#000;}
.my-list-style li a:hover{ display:block; margin:0; color:#ed1c24; text-decoration:underline;}
.my-list-style li .my-sub-menu, .my-list-style li .my-sub-menu a{ font-size:11px; color: #707070; line-height:20px;}
.my-list-style li .my-sub-menu a:hover{ color:#ed1c24;}
.my-list-style li .my-sub-menu li:after {
  content: "\f105"; /* fa-chevron-down */
  font-family: 'FontAwesome';
  position: absolute;
  top:2px;
  left:0px;
  font-size:12px;
  line-height:16px;
  color:#ed1c24;
}


/*my-list-style-end*/

/*Projects-table-style*/

.pl-table .row {
  margin: 1px 0;
  padding:0px;
  align-items: center;
}
.pl-table .col {
  padding:0 0.65rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.pl-table .pl-thead {
  color: #9b9b9b;
  font-weight: normal;
  text-transform: capitalize;
  font-size: 13px;
  margin:5px 0;
}

.pl-table .pl-thead .col.year {
  font-size:15px;
  color: #ff7e00;
  font-family:'Roboto', Arial, sans-serif;
}
.pl-table .pl-tbody .row {
  background-color: #f2f2f2;
  padding:0;
  color: #000;
  font-size: 13px;
  position:relative;
}
.pl-table .pl-tbody .col, .pl-table .pl-tbody .col-1, .pl-table .pl-tbody .col-2, .pl-table .pl-tbody .col-3, .pl-table .pl-tbody .col-4, .pl-table .pl-tbody .col-5, .pl-table .pl-tbody .col-6, .pl-table .pl-tbody .col-7, .pl-table .pl-tbody .col-8, .pl-table .pl-tbody .col-9, .pl-table .pl-tbody .col-10, .pl-table .pl-tbody .col-11, .pl-table .pl-tbody .col-12 {
  padding:0.75rem 0.65rem;
  /*overflow: hidden;*/
  text-overflow: ellipsis;
  border-left:1px solid #fff;
}
.pl-table .pl-tbody .col:first-child{border-left:none;}

/*Projects-table-style*/

.orange-BL{border-left: 5px solid #ff7e00;}



/*flex-box-vertical-align-middle*/
.vertical-align-middle {
  display: flex;
  align-items: center;
  justify-content: center;
}
.justify-start {
  display: flex;
  justify-content: left;
}
/*flex-box-vertical-align-middle*/

/*progress*/
.progress {
	font-family:'Roboto', Arial, sans-serif;
    position: relative;
	height: 20px;
	background-color:#e9ecef;
	color:#fff;
	border-radius:20px;
	font-size:11px;
	line-height:16px;
}
.progress > .end-date {
	position: absolute;
	right:7px;
	top:2px;
}
.progress-bar{background-color:#ff7e00; padding:0 0 0 5px; text-align:left;}
/*progress*/

.project-pop-DIV{ position:absolute; border:1px solid #dee2e6 ; background:#fff; z-index:9; padding:15px; border-radius:5px; width:300px; font-family:'Roboto', Arial, sans-serif; top:45px; left:10px;
-webkit-box-shadow: 0px 0px 5px 0px rgba(207,207,207,1);
-moz-box-shadow: 0px 0px 5px 0px rgba(207,207,207,1);
box-shadow: 0px 0px 5px 0px rgba(207,207,207,1);
}

/*.arrow_box {
	position: relative;
	background: #88b7d5;
	border: 4px solid #c2e1f5;
}*/
.project-pop-DIV:after, .project-pop-DIV:before {
	bottom: 100%;
	left: 10%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.project-pop-DIV:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 13px;
	margin-left: -13px;
}
.project-pop-DIV:before {
	border-color: rgba(222, 226, 230, 0);
	border-bottom-color: #dee2e6;
	border-width: 14px;
	margin-left: -14px;
}


.project-pop-DIV h4{ font-size:18px; font-weight:400;}
.project-pop-DIV h4 .flag-img{ position:absolute; right:10px; top:10px;}
.project-pop-DIV h6{ font-size:14px; font-weight:500; padding:0 0 5px 0; margin-bottom:10px;}


/*searchbar-CSS*/
.searchbar{
	margin-bottom: auto;
	margin-top: auto;
	height:40px;
	background-color: #000;
	border-radius:90px;
	padding:5px;
}

.search_input{
	color: white;
	border: 0;
	outline: 0;
	background: none;
	width:0;
	caret-color:transparent;
	line-height: 30px;
	transition: width 0.4s linear;
}

.searchbar:hover > .search_input{
	padding: 0 10px;
	width:250px;
	caret-color:red;
	transition: width 0.4s linear;
}

.searchbar:hover > .search_icon{
	background: white;
	color: #e74c3c;
}

.search_icon{
	height: 30px;
	width:30px;
	float: right;
	display: flex;
	justify-content:center;
	align-items: center;
	border-radius: 50%;
	color:white;
}
/*searchbar-CSS*/
.add_btn{border:2px solid #e2e3e4; color:#b7b8b9; background-color:transparent; font-size:14px; font-weight:400; border-radius:30px; padding:3px 10px;}
.add_btn:hover{border:2px solid #038be1; color:#fff; background-color:#038be1; }
.max-width700{max-width:700px;}


/*mail_page*/
.mail-box {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    table-layout: fixed;
    width: 100%;
}
.mail-box aside {
    display: table-cell;
    float: none;
    height: 100%;
    padding: 0;
    vertical-align: top;
}
.mail-box .sm-side {
    /*background: none repeat scroll 0 0 #e5e8ef;
    border-radius: 4px 0 0 4px;*/
    width: 25%;
}
.mail-box .lg-side {
   /* background: none repeat scroll 0 0 #fff;*/
    border-radius: 0 4px 4px 0;
    width: 75%;
}
.mail-box .sm-side .user-head {
    background: none repeat scroll 0 0 #00a8b3;
    border-radius: 4px 0 0;
    color: #fff;
    min-height: 80px;
    padding: 10px;
}
.mail-box .user-head .inbox-avatar {
    float: left;
    width: 65px;
}
.mail-box .user-head .inbox-avatar img {
    border-radius: 4px;
}
.mail-box .user-head .user-name {
    display: inline-block;
    margin: 0 0 0 10px;
}
.mail-box .user-head .user-name h5 {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 15px;
}
.mail-box .user-head .user-name h5 a {
    color: #fff;
}
.mail-box .user-head .user-name span a {
    color: #87e2e7;
    font-size: 12px;
}
.mail-box a.mail-dropdown {
    background: none repeat scroll 0 0 #80d3d9;
    border-radius: 2px;
    color: #01a7b3;
    font-size: 10px;
    margin-top: 20px;
    padding: 3px 5px;
}
.mail-box .inbox-body {
    padding: 20px;
	
}
.mail-box .btn-compose {
    background: none repeat scroll 0 0 #fff;
    color: #ed1c24;
    padding: 12px 0;
    text-align: center;
    width: 100%;
}
.mail-box .btn-compose:hover {
    background: none repeat scroll 0 0 #000;
    color: #fff;
}

.mail-box .dropdown-menu{ border:1px solid #ddd;}
.mail-box .dropdown-menu > li > a{ border-bottom:1px solid #ddd;}
.mail-box ul.inbox-nav {
    display: inline-block;
    margin: 0;
    padding:20px;
    width: 100%;
}
.mail-box .inbox-divider {
   /* border-bottom: 1px solid #d5d8df;*/
   border-bottom:none;
}
.mail-box ul.inbox-nav li {
    display: inline-block;
    line-height:normal;
    width: 100%;
}
.mail-box ul.inbox-nav li a {
    color: #908e8e;
    display: inline-block;
    line-height:normal;
    padding: 10px 10px;
	margin-bottom:10px;
    width: 100%;
	font-size:14px;
}
.mail-box ul.inbox-nav li a:hover, .mail-box ul.inbox-nav li.active a, .mail-box ul.inbox-nav li a:focus {
    background: none repeat scroll 0 0 #f3f3f3;
    color: #ed1c24;
	border-radius:5px;
}
.mail-box ul.inbox-nav li a i {
    color: #6a6a6a;
    font-size: 16px;
    padding-right: 10px;
}
.mail-box ul.inbox-nav li.active a i {
    color: #ed1c24;
}
.mail-box ul.inbox-nav li a span.label {
    margin-top: 13px;
}
.mail-box ul.labels-info li h4 {
    color: #5c5c5e;
    font-size: 13px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    text-transform: uppercase;
}
.mail-box ul.labels-info li {
    margin: 0;
}
.mail-box ul.labels-info li a {
    border-radius: 0;
    color: #6a6a6a;
}
.mail-box ul.labels-info li a:hover, ul.labels-info li a:focus {
    background: none repeat scroll 0 0 #d5d7de;
    color: #6a6a6a;
}
.mail-box ul.labels-info li a i {
    padding-right: 10px;
}
.mail-box .nav.nav-pills.nav-stacked.labels-info p {
    color: #9d9f9e;
    font-size: 11px;
    margin-bottom: 0;
    padding: 0 22px;
}
.mail-box .inbox-head {
    /*background: none repeat scroll 0 0 #fff;*/
    border-radius: 0 4px 0 0;
    color: #000;
    min-height: 80px;
    padding: 20px;
}
.mail-box .inbox-head h3 {
    display: inline-block;
    font-weight: 300;
    margin: 0;
    padding-top: 6px;
	border-bottom:3px solid #ed1c24;
}
.mail-box .inbox-head .sr-input {
    border:1px solid #ddd;
    border-radius: 4px 0 0 4px;
    box-shadow: none;
    color: #8a8a8a;
    float: left;
    height: 40px;
    padding: 0 10px;
}
.mail-box .inbox-head .sr-btn {
    background: none repeat scroll 0 0 #ed1c24;
    border: medium none;
    border-radius: 0 4px 4px 0;
    color: #fff;
    height: 40px;
    padding: 0 20px;
}
.mail-box .table-inbox {
    border: 1px solid #ddd;
    margin-bottom: 0;
}
.mail-box .table-inbox tr td {
    padding: 12px !important;
	border-top: 1px solid #ddd;
	font-size:13px;
}
.mail-box .table-inbox tr td:hover {
    cursor: pointer;
}

.mail-box .table-inbox tr td .custom-control{padding-left:0rem;}
.mail-box .table-inbox tr td .custom-control-label::before {left: 0px;}
.mail-box .table-inbox tr td .custom-control-label::after {left: 0px;}

.mail-box .table-inbox tr td .fa-star.inbox-started, .mail-box .table-inbox tr td .fa-star:hover {
    color: #f78a09;
}
.mail-box .table-inbox tr td .fa-star {
    color: #d5d5d5;
}
.mail-box .table-inbox tr.unread td {
    background: none repeat scroll 0 0 #f7f7f7;
    font-weight: 600;
}
.mail-box ul.inbox-pagination {
    float: right;
}
.mail-box ul.inbox-pagination li {
    float: left;
}
.mail-box .mail-option {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
}
.mail-box .mail-option .chk-all, .mail-box .mail-option .btn-group {
    margin-right: 5px;
}
.mail-box .mail-option .chk-all, .mail-box .mail-option .btn-group a.btn {
    background: none repeat scroll 0 0 #fcfcfc;
    border: 1px solid #e7e7e7;
    border-radius: 3px !important;
    color: #afafaf;
    display: inline-block;
    padding: 5px 10px;
	font-size:13px;
}
.mail-box .inbox-pagination a.np-btn {
    background: none repeat scroll 0 0 #fcfcfc;
    border: 1px solid #e7e7e7;
    border-radius: 3px !important;
    color: #afafaf;
    display: inline-block;
    padding: 5px 15px;
}
.mail-box .mail-option .chk-all input[type="checkbox"] {
    margin-top: 0;
}
.mail-box .mail-option .btn-group a.all {
    border: medium none;
    padding: 0;
}
.mail-box .inbox-pagination a.np-btn {
    margin-left: 5px;
}
.mail-box .inbox-pagination li span {
    display: inline-block;
    margin-right: 5px;
    margin-top: 7px;
}
.mail-box .fileinput-button {
    background: none repeat scroll 0 0 #eeeeee;
    border: 1px solid #e6e6e6;
}
.mail-box .inbox-body .modal .modal-body input, .mail-box .inbox-body .modal .modal-body textarea {
    border: 1px solid #e6e6e6;
    box-shadow: none;
}
.mail-box .btn-send, .mail-box .btn-send:hover {
    background: none repeat scroll 0 0 #00a8b3;
    color: #fff;
}
.mail-box .btn-send:hover {
    background: none repeat scroll 0 0 #009da7;
}
.mail-box .modal-header h4.modal-title {
    font-family: "Open Sans",sans-serif;
    font-weight: 300;
}
.mail-box .modal-body label {
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
}

#myModal .modal-body{ background:#f8f9fa url(../images/communication_icon.png) no-repeat bottom right !important; }

.mail-box .heading-inbox h4 {
    border-bottom: 1px solid #ddd;
    color: #444;
    font-size: 18px;
    margin-top: 20px;
    padding-bottom: 10px;
}
.mail-box .sender-info {
    margin-bottom: 20px;
}
.mail-box .sender-info img {
    height: 30px;
    width: 30px;
}
.mail-box .sender-dropdown {
    background: none repeat scroll 0 0 #eaeaea;
    color: #777;
    font-size: 10px;
    padding: 0 3px;
}
.mail-box .view-mail a {
    color: #ff6c60;
}
.mail-box .attachment-mail {
    margin-top: 30px;
}
.mail-box .attachment-mail ul {
    display: inline-block;
    margin-bottom: 30px;
    width: 100%;
}
.mail-box .attachment-mail ul li {
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 150px;
}
.mail-box .attachment-mail ul li img {
    width: 100%;
}
.mail-box .attachment-mail ul li span {
    float: right;
}
.mail-box .attachment-mail .file-name {
    float: left;
}
.mail-box .attachment-mail .links {
    display: inline-block;
    width: 100%;
}

.mail-box .fileinput-button {
    float: left;
    margin-right: 4px;
    overflow: hidden;
    position: relative;
}
.mail-box .fileinput-button input {
    cursor: pointer;
    direction: ltr;
    font-size: 23px;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-300px, 0px) scale(4);
}
.mail-box .fileupload-buttonbar .btn, .mail-box .fileupload-buttonbar .toggle {
    margin-bottom: 5px;
}
.mail-box .files .progress {
    width: 200px;
}
.mail-box .fileupload-processing .fileupload-loading {
    display: block;
}
* html .mail-box .fileinput-button {
    line-height: 24px;
    margin: 1px -3px 0 0;
}
* + html .mail-box .fileinput-button {
    margin: 1px 0 0;
    padding: 2px 15px;
}
@media (max-width: 767px) {
.mail-box .files .btn span {
    display: none;
}
.mail-box .files .preview * {
    width: 40px;
}
.mail-box .files .name * {
    display: inline-block;
    width: 80px;
    word-wrap: break-word;
}
.mail-box .files .progress {
    width: 20px;
}
.mail-box .files .delete {
    width: 60px;
}
}
.mail-box ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

/*mail_page*/

.thank-you-box{ position:relative; width:65%; margin:20px auto; padding:0;}
.thank-you-box h1{ font-size:95px; font-weight:400; margin:0 auto 20px auto; line-height:80px; padding:0; color:#333333;}
.thank-you-box h5{ font-size:20px; font-weight:200; margin:0 auto 20px auto; padding:0;}

.Track_manuscript_Box{ margin:0; padding:120px 90px; position:relative; background:url(../images/serach_icon_bg.png) left center no-repeat; width:63%; min-height:450px;}
.Track_manuscript_Box h1{ margin:0 0 15px 0; padding:0; position:relative; font-size:30px; font-weight:700; text-align:center;}
.Track_manuscript_Box .track_form{ padding:0; margin:0; position:relative; width:80%; margin:0 auto;}

.small_serach_icon{ background:url(../images/small_serach_icon.png) center center no-repeat; min-height:90px;}

.calendar-icon{ position:relative;}
.calendar-icon:after {
  content: "\f073"; /* fa-chevron-down */
  font-family: 'FontAwesome';
  position: absolute;
  top:0px;
  right:10px;
  font-size:16px;
  line-height:22px;
  padding:10px 6px 10px 12px;
  border-left:1px solid #ddd;
  cursor:pointer;
}
/*fullcalendar*/
#external-events {
	float: left;
	width: 150px;
	padding: 0 10px;
	text-align: left;
}
		
#external-events h4 {
	font-size: 16px;
	margin-top: 0;
	padding-top: 1em;
}
	
.external-event { /* try to mimick the look of a real event */
	margin: 10px 0;
	padding: 2px 4px;
	background: #3366CC;
	color: #fff;
	font-size: .85em;
	cursor: pointer;
}
	
#external-events p {
	margin: 1.5em 0;
	font-size: 11px;
	color: #666;
}
	
#external-events p input {
	margin: 0;
	vertical-align: middle;
}

#calendar {
	margin: 0 auto;
	width:100%;
	background-color: #FFFFFF;
	border:1px solid #ddd;
}
/*fullcalendar-End*/

.side_serach .sr-input {
    border:1px solid #ddd;
    border-radius: 4px 0 0 4px;
    box-shadow: none;
    color: #8a8a8a;
    float: left;
    height: 34px;
    padding: 0 10px;
}
.side_serach .sr-btn {
    background: none repeat scroll 0 0 #007bff;
    border: medium none;
    border-radius: 0 4px 4px 0;
    color: #fff;
    height:34px;
    padding: 0 20px;
}

/*client_box_dropdown*/
.client-box-wrap {
	position:absolute;
	z-index: 1;
	width:21%;
	right:65px;
	top:0;
	
	
}
.client-box-wrap button{ cursor:pointer;}

.client-box-wrap .dropdown-menu {
	border:1px solid #ddd;
	min-width:245px;
	border-bottom: 3px solid #ddd;
	border-radius: 0;
	padding: 0;
	margin-top:0px;
}
.client-box-wrap .dropdown-menu > ul{
	max-height:500px;
	overflow-y:auto;
}

.client-box-wrap .dropdown-menu > ul > li > a {
	padding: 10px 10px !important;
	margin:0 !important;
	border-bottom: 1px solid #ddd;
	position: relative;
	display:block;
    clear: both;
	font-size:12px;
    font-weight:300;
    line-height: 1.42857143;
    color: #000;
    white-space: nowrap;
}


.client-box-wrap .dropdown-menu > ul > li > a:hover {
	background-color: #fbfbfb;
	border-bottom: 1px solid #ddd !important;
}
.client-box-wrap .dropdown-menu > ul > li > a > i{ margin-right:5px; color:#ed1c24;}
.client-box-wrap .dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.4em solid;
  border-right: 0.4em solid transparent;
  border-bottom: 0;
  border-left: 0.4em solid transparent;
  margin:20px 0 0 0;
}

.client {
	display: inline-flex;
	padding: 8px 10px 10px 10px;
	border: 0 none;
	background-color: #fbfbfb;
	margin-top: 0px;
	color: #c1c1c1;
	height: 69px;
	border-left:1px solid #efefef;
}

.client img {
	width: 30px;
	height: 30px;
	display: inline-block;
	border-radius:0%;
	margin-top:10px;
}
.client .client_name {
    display: block;
    font-size:11px;
    font-weight:400;
    text-transform:capitalize;
    line-height:12px;
    padding:12px 0 0 15px;
    width:85%;
	text-align:left;

}
.client .client_name p {
	display: block;
	font-size:11px;
	font-weight:400;
	text-transform:uppercase;
	color:#d61a0f;
	margin:0;
	padding:0;
}

/*dropdown-top-arrow*/
.dropdown-menu:before, .dropdown-menu:after {
  position: absolute;
  display: inline-block;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-menu:before {
  top: -7px;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #ddd;
  left:10px;
}

.dropdown-menu:after {
  top: -6px;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
  left:11px;
}

.dropdown-menu .dropdown-menu:before, .dropdown-menu .dropdown-menu:after { 
  display:none;
}

/*dropdown-top-arrow*/


/*client_box_dropdown*/

/*my-tabs*/
.my-tabs{ margin:0 0 20px 0; padding:0; position:relative;}
.my-tabs .tab-content{ padding:15px; margin:0; background:#fff; border:1px solid #ddd; border-top:0;}
.my-tabs .nav-tabs .nav-link{border-top-left-radius:0rem; border-top-right-radius:0rem; background-color:#d7d7d7; color:#000; border:0px; font-size:14px; margin:0 1px 0 0; font-weight:300; padding: 0.6rem 1.1rem; }
.my-tabs .nav-tabs .nav-link.active, .my-tabs .nav-tabs .nav-item.show .nav-link{background-color:#01b33d; color:#fff; font-weight:400;}
/*my-tabs*/
.select_role{height:170px; overflow-y:scroll;}
.select_role ul{ margin:0; padding:10px 0; position:relative;}
.select_role li{ margin:0 0 1px 0; padding:5px 15px 5px 15px; position:relative; cursor:pointer;}
.select_role li:hover{ background-color:#3399ff; color:#fff !important;}
